{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block header %}Add Post for {{user.get_full_name()}}{% endblock %}

{% block content %}

<form action="/user/{{user.id}}/posts/new" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">content</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>

    <button class="btn btn-outline-primary">Add Post</button>
    <a href="/user/{{user.id}}" class="btn btn-outline-secondary" role="button">Cancel</a>
</form>



{% endblock %}