{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block header %}{{post.title}}{% endblock %}

{% block content %}

<small><span>By <a href="/user/{{post.usr.id}}">{{post.usr.get_full_name()}}</a></span></small>

<hr>

<div class="container m-5">
    <p class="lead">{{post.content}}</p>
</div>

<h6>Tags :
    {% for tag in post.tgs %}
    <span class="badge text-bg-primary rounded-pill"><a href='/tags/{{tag.id}}'
            class="text-light">{{tag.name}}</a></span>
    {% endfor %}
</h6>


<form action="/posts/{{post.id}}/edit">
    <div class="mt-3">
        <button class="btn btn-outline-info">Edit</button>
        <a class="btn btn-outline-secondary" href="/user/{{post.usr.id}}" role="button">Go Back</a>
    </div>
</form>


{% endblock %}