{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block header %}Edit Tag{% endblock %}

{% block content %}
<form action="/tags/{{tag.id}}/edit" method="post">
    <label for="name" class="form-label">Name: </label>
    <div class="input-group mb-3">
        <input type="text" name="name" id="name" value="{{tag.name}}" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-outline-primary">Save Changes</button>
            <a class="btn  btn-outline-secondary" href="/tags/{{tag.id}}" role="button">Cancel</a>
        </div>
    </div>
</form>

<form action="/delete/{{tag.id}}" method="post">
    <div class="d-grid mt-3">
        <button class="btn btn-danger btn-block">Delete Tag</button>
    </div>
</form>


{% endblock %}