{% extends 'base.html' %}

{% block title %}{{user.get_full_name()}}{% endblock %}

{% block header %}{{user.get_full_name()}}{% endblock %}

{% block content %}
<img src="{{user.img_url}}" alt="user photo">

<form action="/user/{{user.id}}/edit">
    <button>Edit</button>
</form>

<h2>Posts:</h2>
<ul>
    {% for p in posts %}
    <li><a href="/posts/{{p.id}}">{{p.title}}</a></li>
    {% endfor %}
</ul>

<form action="/user/{{user.id}}/posts/new">
    <button>Add Post</button>
</form>

<a href="/">Go Back</a>
{% endblock %}