{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block header %}Edit a User{% endblock %}

{% block content %}
<form action="/user/{{user.id}}/edit" method="post">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{user.first_name}}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{user.last_name}}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="img_url" class="form-label">Profile Picture:</label>
        <input type="text" name="img_url" id="img_url" value="{{user.img_url}}" class="form-control">
    </div>

    <button class="btn btn-outline-primary">Save Changes</button>
    <a class="btn btn-outline-secondary" href="/user/{{user.id}}" role="button">Cancel</a>
</form>

<form action="/delete/{{user.id}}" method="post">
    <div class="d-grid mt-3">
    <button class="btn btn-danger btn-block">Delete User</button>
    </div>
</form>

{% endblock %}